a, a:visited {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #8b8484;
    line-height: 1.8em;
    font-weight: 300;
}

h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 75px;
    line-height: .7em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6b6b6b;
    margin: 2em 0 .75em;
    margin-top: 1em;
    /*margin-bottom: 0;*/
}

#outerWrapper {
    background-image: url("https://static.squarespace.com/static/ta/507c1fdb84ae362b5e7be351/2031/assets/alt-bg-image.jpg");
    background-position: top left;
    background-image: url("/images/night_show_1.jpg");
    background-position: center center;
    background-position: 0 30px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

#outerWrapper.page {
    background-image: url("/images/santana_row_1.JPG");

}


.title-area {
    padding-top: 20%;
    margin-top: 20px !important;
    margin-bottom: 120px !important;
    position: relative;
    top: 0;
    text-align: center;
}

.title-area.page {
    display: none;
}

.title-area img {
    display: inline;
}

.thumb-image {
    width: 100%;

}

#innerWrapper {
    width: 61%;
    margin: 30px auto;
}

.text-align-center {
    text-align: center;
}

#innerWrapper #content .main-content-wrapper {
    width: 84%;
    margin: 30px auto;
}

#bgOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: rgba(247,247,247,.9);
}

#bgOverlay.home {
    background-color: rgba(161,145,145,.3);
}

#main-navigation {
    position: absolute;
    width: 100% !important;
    top: 48% !important;
    z-index: 1;
}


#main-navigation.page {
    position: relative;
    top: auto;
    left: auto;
    width: 60%;
    margin: 0 auto;
}


#main-navigation ul {
    margin: 1em auto 30px;
    text-align: center;
}

#main-navigation ul li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-style: normal;
    list-style-type: none;
    display: inline-block;
    padding: 1em 1em 0;
    margin: 0;
}

#main-navigation ul li a {
    transition: all .45s ease-in-out;
    color: #f9f9f9;
    border-bottom: 2px solid rgba(255,255,255,0);
}

#main-navigation ul li.active a {
    border-bottom: 2px solid #f9f4f1 !important;
}

#main-navigation ul li a:hover {
    transition: all .45s ease-in-out;
    border-bottom: 2px solid #f9f4f1 !important;
}

#main-navigation.page ul li a {
    color: #6b6b6b;
}

#main-navigation.page ul li.active a {
    border-bottom: 2px solid rgba(0,0,0,.5) !important;
}

#main-navigation.page ul li a:hover {
    transition: all .45s ease-in-out;
    border-bottom: 2px solid rgba(0,0,0,.5) !important;

}

.my-story p {
    padding: 1em;
}


#left, #right, #top, #bottom {
    background: #edeceb;
    position: fixed;
}

#left {
    left: 0;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 30px;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 30px;
}

#right {
    right: 0;
}

#top {
    top: 0;
    z-index: 9999 !important;
}

#bottom {
    bottom: 0;
}